{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="ui five column grid">
    <div class="column">
        <div class="ui fluid form segment">
            <form>
                <h3 class="ui header">{{ "title.freight.cost.calculator"|trans }}</h3>

                <div class="field">
                    {{ form_row(form.postcode) }}
                </div>

                <div class="field">
                    {{ form_row(form.weight) }}
                </div>

                <div class="field">
                    {{ form_row(form.volume) }}
                </div>

                <div class="field">
                    {{ form_row(form.target_date) }}
                </div>

                <input type="submit" class="ui blue submit button" value="{{ "submit"|trans }}"/>
            </form>
        </div>
    </div>
</div>

<div id="alert-modal" class="ui small modal">
  <i class="close icon"></i>
  <div class="header">
    {{ "title.attention"|trans }}
  </div>
  <div class="content">
	
  </div>
  <div class="actions">
    <div class="ui button">
      {{ "close"|trans }}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
	<script>
		$(document).ready(function(){

			$('.submit').click(function(e){
				e.preventDefault();

                if (!validate()) {
                    return;
                }

				var postcode = $('#calc_form_type_postcode').val();

				$.ajax({
					type: 'POST',
					url: "{{ url('IndexController:calcFreightCostAjaxAction') }}",
					data: {
						postcode: postcode
					},
					success: function(data){
						if(data.status == 500){
							showAlert(data.error);
						}
					}
				});
			});

            $('input').keyup(function(){
                $(this).parents('.field').removeClass('error');
            });
		});

		function validate()
		{
            var postcode = $('#calc_form_type_postcode');
            var weight = $('#calc_form_type_weight');
            var volume = $('#calc_form_type_volume');
            var targetDate = $('#calc_form_type_target_date');
            var error = false;

			if(postcode.val() == undefined || postcode.val().length == 0){
                postcode.parents('.field').addClass('error');
                postcode.attr('placeholder', "{{ 'error.field.empty'|trans }}");
                error = true;
			}

            if(weight.val() == undefined || weight.val().length == 0){
                weight.parents('.field').addClass('error');
                weight.attr('placeholder', "{{ 'error.field.empty'|trans }}");
                error = true;
            }

            if(volume.val() == undefined || volume.val().length == 0){
                volume.parents('.field').addClass('error');
                volume.attr('placeholder', "{{ 'error.field.empty'|trans }}");
                error = true;
            }

            if(targetDate.val() == undefined || targetDate.val().length == 0){
                targetDate.parents('.field').addClass('error');
                targetDate.attr('placeholder', "{{ 'error.field.empty'|trans }}");
                error = true;
            }

            if (error) {
                return false;
            }

            return true;
		}

		function showAlert(message)
		{
			var modal = $('#alert-modal');
			modal.find('.content').empty().html('<p>'+message+'</p>');
			modal.modal('show');
		}
	</script>
{% endblock %}